@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
	font-family: "Poppins", sans-serif;
}

i {
	font-family: "Poppins", sans-serif;
	font-size: 17px;
	cursor: pointer;
}

.profile-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.profile-list li {
	background: #333;
	width: 40%;
	padding: 10px;
	margin: 10px;
	color: #fff;
}

/* Contact List CRUD*/

.contacts-container {
	width: 90%;
	margin: auto;
}

.contact-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.contact-list li {
	width: 30%;
	background: #6cafa4;
	color: #fff;
	margin: 10px;
	padding: 10px;
	border-radius: 8px;
	display: flex;
	cursor: pointer;
}

.contact-list .left {
	width: 90%;
}

.contact-form {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.contact-form input {
	padding: 10px;
	margin: 10px;
	width: 50%;
	outline: none;
	font-size: 16px;
}

.contact-form button,
.btn {
	width: 52%;
	padding: 10px;
	margin: 10px;
	background: #6cafa4;
	color: #fff;
	outline: none;
	border: none;
	border-radius: 8px;
	font-size: 18px;
	cursor: pointer;
}

.contact-form button:hover,
.btn:hover {
	background: #fff;
	border: 2px solid #6cafa4;
	color: #6cafa4;
}

@media screen and (max-width: 768px) {
	.contact-list li {
		width: 100%;
		margin-left: -2rem;
		flex-direction: column;
	}
	.contact-list .right {
		width: 100%;
	}
	.contacts-container {
		width: 100%;
	}
	.contact-form {
		width: 100%;
	}
	.contact-form input {
		width: 90%;
		margin: 5px;
	}
	.contact-form button {
		width: 90%;
	}
}
